.sidenav {
    width: 175px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    padding-top: 20px;
}
.sidenav a{
    color: #818181;
    padding: 6px 10px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.main {
    padding: 10px 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 200px;
}
